{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% if contact.getId() %}{% trans %}enigmatic.crm.header.titles.contact_update{% endtrans %}{% else %}{% trans %}enigmatic.crm.header.titles.contact_add{% endtrans %}{% endif %} - {{ parent() }}{% endblock %}
{% block nav_active %}contact{% endblock %}

{% block content %}

    {% import "AppBundle:macro:button.html.twig" as button %}
	
	 <div class="action action_left">
        {{ button.create('back', 'Back'|trans, account?path('enigmatic_crm_account_view', {'account': account.getId()}):contact.getId()?path('enigmatic_crm_contact_view', {'contact': contact.getId()}):path('enigmatic_crm_contact_list'), null, 'speednav') }}
    </div>

    <h1>{% if contact.getId() %}{% trans %}enigmatic.crm.header.titles.contact_update{% endtrans %}{% else %}{% trans %}enigmatic.crm.header.titles.contact_add{% endtrans %}{% endif %}</h1>

    <form id="contact" class="speednav" method="post" action="" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input class="btn" type="submit" value="{% if contact.getId() %}{% trans %}enigmatic.crm.contact.form.submit.update{% endtrans %}{% else %}{% trans %}enigmatic.crm.contact.form.submit.add{% endtrans %}{% endif %}">
    </form>
{% endblock %}
