{% extends "EnigmaticMailerBundle::layout.html.twig" %}
{% block subject %}
    Email de test
{% endblock %}
{% block body %}
    <h1>Email de test</h1>
    <p>
        Bonjour, ceci est un email de test généré par : EnigmaticMailerBundle <br><br>
        Cordialement.
    </p>
{% endblock %}