{% extends "UserBundle::layout.html.twig" %}

{% block content %}
    <h1>{% trans %}user.resetting.title{% endtrans %}</h1>
<div class="view">
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}
