{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% if account.getId() %}{% trans %}enigmatic.crm.header.titles.account_update{% endtrans %}{% else %}{% trans %}enigmatic.crm.header.titles.account_add{% endtrans %}{% endif %} - {{ parent() }}{% endblock %}

{% block content %}

    {% import "AppBundle:macro:button.html.twig" as button %}

    <form class="speednav" method="post" action="" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input class="btn" type="submit" value="{% if account.getId() %}{% trans %}enigmatic.crm.account.form.submit.update{% endtrans %}{% else %}{% trans %}enigmatic.crm.account.form.submit.add{% endtrans %}{% endif %}">
        {{ button.create('back', 'Cancel'|trans, account.getId()?path('enigmatic_crm_account_view', {'account': account.getId}):path('enigmatic_crm_account_list'), null, 'speednav' ) }}
    </form>
{% endblock %}