{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% trans %}enigmatic.crm.header.titles.home{% endtrans %} - {{ parent() }}{% endblock %}
{% block nav_active %}home{% endblock %}

{% block content %}

    <h1>{% trans %}enigmatic.crm.dashboard.title{% endtrans %}</h1>

{% endblock %}
