{% extends "UserBundle::layout.html.twig" %}

{% block nav_active %}change_password{% endblock %}

{% block content %}

    <h1>{% trans %}user.change_password.title{% endtrans %}</h1>

    <div class="view">

    <form id="password" action="" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
        <input class="btn" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>

    </div>

{% endblock %}